<style>
  footer {
    margin-top: 160px;
    margin-bottom: 0;
    background-image: linear-gradient(to bottom, transparent, #c45b16);
  }

  .logo-footer {
    width: 100px;
    margin-left: 200px;
    margin-top: 110px;
    margin-bottom: 40px;
  }

  .footer-social-links {
    padding: 12px 40px 5px 40px;
    margin-right: 200px;
    margin-top: 130px;
    margin-bottom: 40px;
    list-style-type: none;
    display: flex;
    float: right;
    padding-inline-start: 0px;
  }

  .footer-social-links li {
    padding: 7px;
  }
</style>

<footer>
  <a href="/">
    <img src="/img/home/mblogo.png" class="logo-footer" alt="Mightiest Banana"
  /></a>
  <ul class="footer-social-links">
    <li>
      <a
        href="https://www.twitch.tv/mightiestbanana"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          src="/img/home/twitch.png"
          alt="Mightiest Banana Twitch Channel"
          width="30"
          height="30"
      /></a>
    </li>
    <li>
      <a
        href="https://www.tiktok.com/@mighty.banana"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/img/home/tiktok.png"
          alt="Mighty Banana TikTok Page"
          width="30"
          height="30"
        />
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/mighty.banana"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/img/home/instagram.png"
          alt="Mighty Banana Instagram Page"
          width="30"
          height="30"
      /></a>
    </li>
  </ul>
</footer>
