---
layout: default
---

<style>
  body {
    background-image: url(/img/home/Gridlines.svg),
      linear-gradient(to bottom right, #521164, #ac4daf, #521164);
  }

  .mightiestbanana {
    width: 750px;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    filter: drop-shadow(0px 1px 9px rgba(0, 0, 0, 0.671));
  }

  .aboutcontainer {
    position: relative;
    max-width: 930px;
    margin: auto;
  }

  .aboutbox {
    width: 930px;
    display: flex;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    z-index: 1;
  }

  .slogan {
    color: white;
    text-align: center;
    font-family: "Gluten", serif;
    font-size: x-large;
    margin-top: -46px;
  }

  .aboutmetitle {
    font-family: "Gluten", serif;
    font-size: 200%;
    position: absolute;
    top: 200px;
    left: 440px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .underlinegif {
    width: 400px;
    margin-top: -5px;
    margin-left: -120px;
    position: absolute;
    top: 180px;
    left: 440px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .aboutmetext {
    position: absolute;
    top: 270px;
    left: 440px;
    padding-left: 20px;
    padding-right: 80px;
    font-size: large;
  }

  .aboutclosing {
    font-size: medium;
  }

  .aboutbutton {
    position: absolute;
    width: 220px;
    top: 490px;
    left: 430px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .game-console {
    max-width: 830px;
    display: flex;
    margin: auto;
    z-index: 3;
  }

  #game-console__screen {
    max-width: 740px;
    position: absolute;
    z-index: 2;
    margin-left: 45px;
    margin-top: 170px;
  }

  .game-console__screen--off {
    filter: grayscale(60%);
  }

  .game-console__body {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    flex: 1;
    z-index: 3;
  }

  .game-console__switch {
    cursor: pointer;
  }

  .game-console__switch--off {
    transform: rotate(180deg);
  }

  .small-windows {
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    display: flex;
  }

  .window {
    background-color: #c45b16;
    border: solid black;
    border-radius: 30px;
    font-family: "Gluten", serif;
    font-size: 1.4rem;
    width: 350px;
    margin-right: 5px;
    flex: 1;
  }

  .window-2 {
    background-color: #c45b16;
    border: solid black;
    border-radius: 30px;
    font-family: "Gluten", serif;
    font-size: 1.4rem;
    width: 350px;
    margin-left: 5px;
    height: 165px;
  }

  .window-circle {
    background-color: #7daf9c;
    border: solid black;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
  }

  .window-titles {
    display: inline-block;
  }

  .window-contents {
    background-color: #ffd4ca;
    border: solid black;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    margin: 15px;
    font-family: "Montserrat", serif;
    font-size: 1rem;
  }

  .social-color-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    display: inline-block;
    margin-left: -40px;
    padding-top: 8px;
  }

  .social-color-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .social-color-names {
    height: 30px;
    line-height: 30px;
    padding-bottom: 15px;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
  }
</style>

<script>
  window.addEventListener("load", initializeListeners);

  function initializeListeners() {
    const consoleSwitch = document.getElementById("game-console__switch");
    const consoleScreen = document.getElementById("game-console__screen");

    consoleSwitch.addEventListener("click", () => {
      consoleSwitch.classList.toggle("game-console__switch--off");
      consoleScreen.paused ? consoleScreen.play() : consoleScreen.pause();
      consoleScreen.classList.toggle("game-console__screen--off");
    });
  }
</script>

{% include header.html %}

<img
  class="mightiestbanana"
  src="/img/home/mightiestbanana.webp"
  alt="Mightiest Banana"
/>

<div class="slogan">Streamer. Writer. Creator.</div>

<div class="aboutcontainer">
  <img class="aboutbox" src="/img/home/aboutbox.webp" alt="About Me" />
  <div class="aboutmetitle">About Me.</div>
  <img class="underlinegif" src="/img/home/underline.gif" alt="Underline" />
  <div class="aboutmetext">
    <p>
      I don't like having photos taken of me 😛 But hi! I'm a streamer, writer,
      reader, and a human being.
    </p>
    <p>Oh, and I have a cat with one eye.</p>
    <p class="aboutclosing">Beáta Imre<br />a.k.a. the mighty banana</p>
    <a href="/about">
      <img
        src="/img/home/aboutbutton.webp"
        alt="About Button"
        style="width: 220px; padding-top: 15px"
    /></a>
  </div>
</div>

<img
  id="game-console__switch"
  src="/img/home/clipbox-switch.png"
  alt="Switch"
/>

<div class="game-console">
  <video autoplay muted preload="auto" loop id="game-console__screen">
    <source src="/img/home/homeclips.mp4" type="video/mp4" />
  </video>
  <img
    class="game-console__body"
    src="/img/home/clipboxonly.png"
    alt="Clip Box"
  />
</div>

<div class="small-windows">
  <div class="window">
    <div class="window-circle"></div>
    <div class="window-titles">Find Me Out There.</div>
    <div class="window-contents">
      <ul class="social-color-links">
        <li>
          <a
            href="https://www.twitch.tv/mightiestbanana"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              src="/img/home/twitchcolor.svg"
              alt="Mightiest Banana Twitch Channel"
              width="30"
              height="30"
            />
            <div class="social-color-names">Twitch</div>
          </a>
        </li>
        <li>
          <a
            href="https://www.tiktok.com/@mighty.banana"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/img/home/tiktokcolor.svg"
              alt="Mighty Banana TikTok Page"
              width="30"
              height="30"
            />

            <div class="social-color-names">TikTok</div>
          </a>
        </li>
        <li>
          <a
            href="https://discord.gg/zBwWbVCZtk"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/img/home/discordcolor.svg"
              alt="Mighty Banana Discord Server"
              width="30"
              height="30"
            />
            <div class="social-color-names">Discord</div>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/mighty.banana"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/img/home/instacolor.svg"
              alt="Mighty Banana Instagram Page"
              width="30"
              height="30"
            />
            <div class="social-color-names">Instagram</div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="window-2">
    <div class="window-circle"></div>
    <div class="window-titles">Contact Me.</div>
    <div class="window-contents">
      <p><b>Email:</b> mightybanana22@gmail.com</p>
    </div>
  </div>
</div>

<main>{{content}}</main>
